* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #4070f4;
}
body,
.container,
.button,
.links,
.link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  column-gap: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.button {
  border: none;
}

.button,
.link {
  height: 45px;
  width: 45px;
  font-size: 20px;
  color: #666666;
  background: #f2f2f2;
  border-radius: 6px;
  cursor: pointer;
}
.links {
  column-gap: 12px;
}
.link {
  text-decoration: none;
  font-weight: 500;
}
.button:hover,.link:hover{
    background: #4070f4;
    color: #fff;
}
.link.active{
    background: #4070f4;
    color: #fff;
}
button:disabled{
    color: #b3b3b3;
    pointer-events: none;
}
button i{
    pointer-events: none;
}